absl-py==2.3.1
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
comm==0.2.2
cryptography==45.0.4
dash==3.1.1
dash-bootstrap-components==2.0.3
debugpy==1.8.14
decorator==5.2.1
deepface==0.0.93
defusedxml==0.7.1
Deprecated==1.2.18
distro==1.9.0
dotenv==0.9.9
executing==2.2.0
Faker==37.4.2
fastjsonschema==2.21.1
filelock==3.18.0
fire==0.7.0
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
prompt_toolkit==3.0.51
protobuf==5.29.5
psutil==7.0.0
psycopg2==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyGithub==2.6.1
Pygments==2.19.2
